@media (max-width: 1600px) {
  .product-section-table-wrapper .product-section-table-header .product-section-table-cell { font-size: 13px; gap: 5px; }
}
@media (max-width: 1439px) {
  .edit-icon{background: #4b4bbd;color: #fff !important; border-radius: 6px;padding: 6px;font-size: 18px; transition: all 0.25s 
ease;box-shadow: 0 2px 4px rgba(75, 75, 189, 0.1);}
  .product-section-table-wrapper .product-section-table { padding: 5px; }
  .product-section-table-wrapper .product-section-table-header { display: none; }
  .product-section-table-wrapper .product-section-responsive-cell { display: flex; align-items: center; padding: 0 5px 5px; }
  .product-section-table-wrapper:not(.product-section-details-wrapper) .product-section-table-body:nth-child(2) { grid-template-columns: 1fr 1fr 1fr 1fr; }
  .product-section-table-wrapper:not(.product-section-details-wrapper) .product-section-table-body:nth-child(2) .product-section-table-cell:first-child { grid-column: 1/5; }
  .product-section-table-wrapper .product-section-table-body { grid-template-columns: 1fr 1fr 1fr 1fr 40px; gap: 10px 15px; }
  .product-section-table-wrapper-4 .product-section-table-body { grid-template-columns: 1fr 1fr 1fr 40px; gap: 10px 15px; }
  .product-section-table-wrapper .product-section-table-body .product-section-table-cell:first-child { grid-column: 1/6; }
  .product-section-table-wrapper .product-section-table-body .product-section-table-cell { padding: 0; }
  .product-section-table-wrapper .img-thumbs { grid-template-columns: repeat(4, 1fr); }
  .product-section-details-wrapper .img-thumbs { grid-template-columns: repeat(5, 1fr); margin-top: 0; }
  .product-section-table-wrapper .product-section-table-body { margin: 5px 10px 12px; padding-bottom: 15px; border-bottom: 1px solid #e0e3ff; }
  .product-section-table-wrapper .product-section-table-body:last-child { border: none; padding-bottom: 0; }
  .delete-new-form-btn { margin-top: 40px; padding: 0; }
  .product-section-table-wrapper-4 .delete-new-form-btn { margin-top: 30px; }
  .add-new-form-btn { margin: 10px 15px 0 0; }
  .product-section-details-wrapper .product-section-table-body .product-section-table-cell:not(:first-child) { padding-left: 10px; }
  .product-section-details-wrapper .product-section-table-body .product-section-table-cell:not(:first-child) .product-section-responsive-cell { margin-left: -10px; }
}
@media (max-width:1199px) {
  .dash-nav {
    left: -250px;
    width: 250px;
    min-width: 250px;
    border-radius: 0 32px 32px 0;
    z-index: 9999999;
  }

  .dash-nav.mobile-show {
    display: block;
    min-width: 250px;
    left: 0;
    box-shadow: 10px 0 20px 0 rgba(0, 0, 0, .16);
  }

  .mobile-show .navbar-icon {
    display: block;
  }

  .dash-app {
    margin-left: 0;
  }

  .main-container {
    margin-left: 0;
    width: 100%;
  }

  footer {
    width: 100%;
    margin-left: 0px;
  }

  .mob-navbar {
    display: block;
  }

  .main-container header {
    padding-left: 54px !important;
  }

  .chart-width {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .nav-tabs .nav-link{    padding: 10px 14px;margin-right: 0px;}
  .nav-tabs{padding: 0;}
  .legend-item {
    text-align: left;
  }

  .legend-item strong {
    display: contents;
  }

  .cls-request-wraper .modal-lg,
  .cls-request-wraper .modal-xl {
    max-width: 730px;
  }


  .cls-request-wraper .progressBar .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .cls-request-wraper .progressBar .label {
    display: none;
  }

  .cls-request-wraper .progressBar .circle {
    width: 30px;
    height: 30px;
  }

  .cls-request-wraper .progressBar {
    padding: 20px 0;
    background-color: #ffffff;
    border-radius: 0px;
    margin-bottom: 0px;
    box-shadow: none;
  }

  .cls-request-wraper .progressBar .line {
    left: -32px;
    top: 14px;
    left: -63%;
    width: 100%;
  }
  .progressBar::before { top: 34px; }
  
  .cls-request-wraper .progressBar-6-box.progressBar .line {
    left: -56px;
  }
  
  .cls-request-wraper .progressBar-5-box.progressBar .line {
    left: -68px;
  }

  .product-section-table-wrapper:not(.product-section-details-wrapper) .product-section-table-body:nth-child(2) { grid-template-columns: 1fr 1fr; }
  .product-section-table-wrapper:not(.product-section-details-wrapper) .product-section-table-body:nth-child(2) .product-section-table-cell:first-child { grid-column: 1/3; }
  .product-section-table-wrapper .product-section-table-body { grid-template-columns: 1fr 1fr 40px; }
  .product-section-table-wrapper .product-section-table-body .product-section-table-cell:first-child { grid-column: 1/4; }
  .product-section-table-wrapper .product-section-table-body .product-section-table-cell:nth-child(4) { grid-column: 1/2; }

  .request-applicant-info #show-signature { max-width: 500px; }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
  #deleteRecordModal .modal-dialog {
    margin: 1.75rem !important;
  }

  .welcome-box {
    width: 100%;
  }

  #edit-purchase-request {
    background: transparent;
    border-radius: 0px;
    box-shadow: none;
    padding: 1px;
    margin-bottom: 0px;
  }

  .mob-box-padd {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }



  #perchaserequest-table_filter .input-group {
    width: 100%;
  }

  #perchaserequest-table_wrapper.dataTables_wrapper .dataTables_filter {
    margin-top: 0px;
    text-align: inherit;
  }

  /*   .responseTimeChart-h canvas {height: 100px !important;}
    .responseTimeChart1-h canvas {height: 100px !important;}
     */

  /* #responseTimeChart1 {
            height: 100px !important; 
        } */


  .cls-request-wraper .progressBar {
    gap: 5px;
  }

  .cls-request-wraper .progressBar .line {
    left: -38%;
    width: 70%;
  }

  .cls-request-wraper .progressBar-6-box.progressBar .line {
    left: -42%;
    width: 80%;
  }

  .cls-request-wraper .progressBar-5-box.progressBar .line {
    left: -45px;
    width: 84%;
  }

  .countcard .row .col {
    flex: inherit;
    width: 50%;
  }

  .countcard .row .col:last-child {
    width: 100%;
  }

  .mainform-sec .input-group {
    width: 100%;
  }

  .action-wrapper {
    justify-content: flex-end;
  }

  .cls-request-wraper .modal-lg,
  .cls-request-wraper .modal-xl {
    margin: .5rem;
  }

  .search-mt {
    margin-top: 15px;
  }

  #servicerequest-table_filter.dataTables_filter {
    margin-top: 0px;
    text-align: inherit;
  }

  .select-top-wrapper {
    padding-right: 0px;
  }

  .product-section-table-wrapper .product-section-table-body:not(:last-child) { margin-bottom: 7px; }

}

@media (max-width: 575px) {
  .for-cls-news {
		flex-direction: column;gap: 0;
	}
  .notification-box {
    width: auto;
    max-width: max-content;
    margin: 0 30px;
    right: 0;
    left: auto;
  }

  .form-section .for-cls-new {
    display: flex;
    flex-direction: column;
  }

  .report-selectbox {
    position: relative;
    /*margin-bottom: 10px;*/
  }

  .dataTables_paginate {
    justify-content: center;
    margin-bottom: 40px;
  }

  .cls-request-wraper .progressBar .line {
    left: -34%;
    width: 60%;
  }

  .cls-request-wraper .progressBar-6-box.progressBar .line {
    left: -36%;
    width: 65%;
  }

  .cls-request-wraper .progressBar-5-box.progressBar .line {
    left: -31px;
    width: 73%;
  }

  .countcard .row .col {
    width: 100%;
  }

  .filter-top-sec .manageuser .common-btn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-section-table-wrapper .product-section-table { padding: 0; }
  .product-section-table-wrapper .product-section-table-body:nth-child(2) { grid-template-columns: 1fr; }
  .product-section-table-wrapper .product-section-table-body:nth-child(2) .product-section-table-cell:first-child { grid-column: 1/2; }
  .product-section-table-wrapper .product-section-table-body { grid-template-columns: 1fr; }
  .product-section-table-wrapper .product-section-table-body .product-section-table-cell:first-child { grid-column: 1/2; }
  .product-section-table-wrapper .product-section-table-body .product-section-table-cell:nth-child(4) { grid-column: 1/2; }
  .product-section-table-wrapper-4 .delete-new-form-btn,
  .delete-new-form-btn { margin-top: 0px; }

  .product-section-table-wrapper .img-thumbs { grid-template-columns: repeat(3, 1fr); }
  .product-section-details-wrapper .product-btn-grp { display: flex; flex-direction: row; }
}

@media (max-width: 479px) {

  .cls-request-wraper .progressBar .line {
    left: -25%;
  }

  .cls-request-wraper .progressBar-6-box.progressBar .line {
    left: -36%;
    width: 70%;
  }
  .progressBar::before { top: 31px; }

  .cls-request-wraper .progressBar-5-box.progressBar .line {
    left: -23px;
    width: 73%;
  }


}

@media (max-width: 360px) {

  .cls-request-wraper .progressBar .circle {
    width: 23px;
    height: 23px;
  }

  .cls-request-wraper .progressBar .line {
    top: 11px;
    width: 58%;
    left: -31%;
  }

}