@media (max-width: 1700px) {}


@media (max-width: 1600px) {}


@media (max-width: 1500px) {}

@media (max-width: 1469px) {}


@media (max-width: 1350px) {
    .form-check{flex-direction: column;align-items: flex-start;}
}

@media (max-width: 1299px) {}

@media (max-width: 1199px) {}

@media only screen and (min-width:992px) and (max-width:1199px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {}


@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
    .cts-card .text-md-end{text-align: left !important;}
	.textarea-cls {
		grid-column: span 1 !important;
	}

	.form-section .for-cls-new {
		grid-template-columns: 1fr !important;
	}

	.form-section .btn {
		width: auto;
	}

	.my-form .form-container {
		max-width: 500px;
		margin: auto;
	}
	
}


@media (max-width: 575px) {
	.form-header img{width: 72%;}
	.contact-form .btn-group {
		flex-direction: column;
	}

	.my-form .container {
		padding: 1rem;
	}

	.form-section form {
		padding: 2rem 1rem;
	}
}


@media (max-width: 479px) {}