@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body,
html {
  height: 100%;
  scroll-behavior: smooth
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  font-weight: 400;
  background-color: #f8f8f8;
  color: #333333;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

a {
  color: var(--ftblue);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  padding: 0;
  line-height: 1.2;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase
}

h1 {
  font-size: 55px
}

h2 {
  font-size: 48px
}

h3 {
  font-size: 40px
}

h4 {
  font-size: 34px
}

h5 {
  font-size: 20px
}

.price-cls,
h6 {
  font-size: 18px
}




p {
  margin: 0 0 10px;
  line-height: 28px
}


b,
strong {
  font-weight: 600
}

button {
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out
}



input:focus,
input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}

textarea,
select {
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea:focus,
textarea:focus-visible,
textarea:focus-within,
select:focus,
select:focus-visible,
select:focus-within {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
  /* You can change this if you want a custom border */
}


.fadeInDown {
  animation-name: fadeInDown
}

.container,
.row>* {
  padding-left: 15px;
  padding-right: 15px
}


/* form-css-start */
.form-section {
  max-width: 800px;
  margin: auto;
  color: #000;
}


/* Modern Corporate Donation Form Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

.my-form .container {

  margin: 0 auto;
  padding: 2rem;

}

.my-form .form-container {
  flex: 3;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}


.form-section .form-header,
.img-logo {
 background: linear-gradient(135deg, #00BD6E, #0B6E4F);
  color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #85aad129;
  display: flex;
}

.form-section form,
.contact-form {
  padding: 2rem;
}




.form-section h2 {
  font-size: 18px;
  color: #e54c35;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  width: fit-content;
}

.form-section h2:before {
    background: linear-gradient(135deg, #00BD6E, #0B6E4F);
  width: 100%;
  height: 2px;
  top: auto;
  left: 0;
  position: absolute;
  content: "";
  bottom: -7px;
}

.form-section .input-group {
  margin-bottom: 15px;
  display: block;

}

.form-section .input-group label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  line-height: 20px;
}

.form-section .for-cls-new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* two equal columns */

  gap: 0 15px;

}

.input-group input,
.input-group select,
textarea {
  width: 100%;
  padding: 12px !important;
  border: 1px solid #e0e0e0;
  border-radius: 8px !important;
  font-size: 15px !important;
  transition: all 0.3s ease;
  font-weight: 300;
}

.input-row {
  display: flex;
  flex-direction: column;
}

.input-row .input-group {
  flex: 1;
}



.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}



.textarea-cls {
  width: 100% !important;
  grid-column: span 2 !important;
}

.full-width {
  grid-column: span 1 !important;
  /* full width override */
}

.full-width .sub-input-group {
  display: block;
}

.radio-group {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px !important;
  border: 1px solid #e0e0e0;
  border-radius: 8px !important;
  font-size: 15px !important;
  transition: all 0.3s ease;
}

.radio-group input {
  width: auto;
  margin-right: 8px;
}

.radio-group label {
  margin-bottom: 0 !important;
  margin-right: 26px;
  font-weight: 300 !important;
}

.other-cls {
  margin-top: 10px;
}

span.error-msg {
  color: red;
  padding-top: 2px;
  display: block;
  display: none;

}

.error-msg {
  color: red;
  font-size: 13px;
  display: none;
}

/* .for-cls-new .textarea-cls {
  grid-column: span 2;
} */

.heading-cls {
  margin-top: 40px;
}

.sub-input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 15px;
  margin-top: 10px;
  background: #eee;
  padding: 10px;
  border-radius: 8px
}

.input-cls-new {
  display: flex;
  align-items: center;
  gap: 10px;
}

#sig {
  border: 1px dashed #e0e0e0;
  border-radius: 6px;
  
}

input::placeholder,
textarea::placeholder {
  color: #000;
}


.sub-input {
  margin-bottom: 0 !important;
}

.sub-input .input-group {
  margin-bottom: 0 !important;
}

.input-group select {
  background-color: #fff !important;
}

.time-date-cls label {
  text-decoration: underline;
}

.form-section .btn {
    background: linear-gradient(135deg, #00BD6E, #0B6E4F);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 17%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  /* Smooth transitions */
  transition: background-position 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
  background-size: 200% 200%;
  background-position: left;
}

.form-section .btn:hover {
  background-position: right;
  /* triggers animation of the gradient */
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}



/* conct form css */


.contact-form .icons {
  margin-bottom: 30px;
}

.contact-form h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 1rem;
  /* font-size: 18px; */
  /* color: #e54c35; */
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  max-width: 500px;
  margin: 0px auto 20px auto;
}

.contact-form p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.contact-form .btn-group {
  display: flex;
  gap: 10px;
  justify-self: center;
}


.contact-form {
  text-align: center;
}

.btn-group .btn {
  width: auto;
  text-decoration: none;
}

button.btn-modify.btn {
  background-position: right;

}

button.btn-modify.btn:hover {
    background: linear-gradient(135deg, #00BD6E, #0B6E4F);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}












/* login form css start */
.cts-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  border: none;
}

.cts-card .card-header {
  font-size: 18px;
  color: #e54c35;
  margin-bottom: 20px;
  font-weight: bold;
  position: relative;
  /* width: fit-content; */
  background: transparent;
  border: none;
}

.cts-card .card-header:before {
    background: linear-gradient(135deg, #00BD6E, #0B6E4F);
  width: 100%;
  height: 2px;
  top: auto;
  left: 0;
  position: absolute;
  content: "";
  bottom: -7px;
}

.cts-card .btn-primary {
  background: linear-gradient(135deg, #00BD6E, #0B6E4F);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: auto;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-position 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
  background-size: 200% 200%;
  background-position: left;
}

.cts-card .text-md-end {
  text-align: right !important;
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 15px;
  color: #000;
  line-height: 20px;
}

.cts-card .form-control {
  width: 100%;
  padding: 9px !important;
  border: 1px solid #e0e0e0;
  border-radius: 8px !important;
  font-size: 15px !important;
  transition: all 0.3s ease;
  font-weight: 300;
}

.cts-card .btn-link {
  padding-left: 0;
  padding-top: 0;
  font-weight: 300;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.form-control:focus {
  color: #000;
  background-color: #fff;
  border-color: none;
  outline: unset;
  box-shadow: unset;
}



/* .navbar {
  background: linear-gradient(to right, #c62891, #f67e1d) !important;
  padding: 12px 24px;
  border-bottom: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  margin-left: 15px;
  transition: color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
  color: #ffebee !important;
  text-decoration: underline;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
} */


.img-logo {
  justify-content: center
}

.navbar-nav {
  flex-direction: column;
}




.cls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.cts-card .btn-primary:hover {
  background-position: right;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.btn:focus {
  outline: unset;
  box-shadow: unset;
}

.button-wraper {
    display: flex;
    gap: 20px;
}

.button-wraper .clear {
    background: transparent;
    box-shadow: unset;
    color: #c13b6f;
    border: 1px solid;
}

.button-wraper .clear:hover {
    background: linear-gradient(135deg, #00BD6E, #0B6E4F);
    color: #fff;
    border: unset;
}

.kbw-signature {margin-bottom:8px;}
a.clear-signature {text-decoration: none; display: inline-flex; padding: 4px 15px 5px 15px; font-size: 13px; border-radius: 30px; background-color: rgba(0, 0, 0, 1); color: #fff; line-height: normal;}
a.clear-signature:hover {background-color: rgba(0, 0, 0, 0.5);}

.kbw-signature canvas {width: 100% !important;}

.loginpage-bg .log-max-width {
    max-width: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}